<h1>Projects</h1>
<% if @private_projects %>
  <h2>Private Projects</h2>
  <ul>
  <% @private_projects.each do |project| %>
    <li><%= link_to "#{project.name}", project_path(project.id) %></li>
  <% end %>
</ul>
<% end %>
<h2>Public Projects</h2>
<ul>
<% @public_projects.each do |project| %>
<li><%= link_to "#{project.name}", project_path(project.id) %></li>
<% end %>
</ul>